*{
     box-sizing: border-box;
}
.body{
     font-family: sans-serif;
     
}

/* shard common css style start form here  */
.primary-titl{
     color: rgba(0, 0, 0, 0.676);
     font-size: 30px;
     line-height: 30px;
     font-weight: 600;
}
.primary-dctp{
     color: rgba(0, 0, 0, 0.676);
     font-size: 15px;
     line-height: normal;
     font-weight: 400;
}
.margin-top{
     margin-top: 250px;
     
}
.margin-top-2{
     margin-top: 250px;

}


/* shard common css style start form here  */

.header-container{
     display: flex;
     justify-content: space-around;
     margin-right: 160px;
     margin-bottom: 50px;    
}

img{
     width: 15vw;
     height: 40vh;   
}
.row{
     position: relative;
     margin: 30px 200px;
     height: 40vh;
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-bottom: 200px;
}
.row-2{
     position: relative;
     margin: 30px 200px;
     height: 40vh;
     display: flex;
     justify-content: space-around;
     align-items: center;
     

}
.varticel{
     writing-mode: vertical-lr;
     font-size: 20px;
     position: absolute;
     left: 380px;
}

.varticel-2{
     writing-mode: vertical-lr;
     position: absolute;
     left: 870px;
}
.varticel-3{
     writing-mode: vertical-lr;
     position: absolute;
     right: 50px;
}
.varticel-4{
     writing-mode: vertical-lr;
     font-size: 20px;
     position: absolute;
     left: 380px;
}
.varticel-5{
     writing-mode: vertical-lr;
     position: absolute;
     left: 870px;
}
.varticel-6{
     writing-mode: vertical-lr;
     position: absolute;
     right: 50px;
}

footer .primary-dctp{
     text-align: center;
     margin-top: 200px;
     color: rgba(0, 0, 116, 0.795);
     
}

/* end design  */
/* responsive */


